[MESSAGES CONTROL]
disable=unused-wildcard-import,
        wildcard-import,
        invalid-name,
        pointless-string-statement,
        unnecessary-lambda,
        missing-function-docstring,
        redefined-outer-name,
        invalid-sequence-index,
        global-statement,
        consider-using-enumerate,
        too-many-locals,
        too-many-branches,
        too-many-statements,
        cell-var-from-loop

[FORMAT]
max-line-length=120